@model UdeCDocsMVC.Models.User

@{
    ViewData["Title"] = "Details";
}

@if (Context.User.Identity.IsAuthenticated == true)
{
    <br />
    <h1>
        @Context.User.Identity.Name
    </h1>
}

<div>
    <h5>Correo electrónico: </h5><p>  @Model.Email</p>
     <h5>Institución: </h5><p>  @Model.Institution</p>
     <h5>Ciudad: </h5><p>  @Model.City</p>

    <div>
        @if (Context.User.IsInRole("1"))
        {
            <a class="btn btn-outline-success" asp-controller="Documents" asp-action="Create">Crear documento</a>
        }
        <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@Model?.Iduser">Editar usuario</a>
    </div>
    @if (Context.User.IsInRole("1"))
    {
        @if(Model.Documents != null)
        {
            <br />
            <h4>Documentos</h4>
            @foreach (var item in Model.Documents)
            {
                <br />
                <div class="card">
                    <h5 class="card-header">@item.Name</h5>
                    <div class="card-body">
                        <h4 class="card-title">@item.Keywords</h4>
                        <h6 class="card-title">@item.PublicationDate</h6>
                        <p class="card-text">@item.Abstract</p>
                        <a class="btn btn-outline-secondary" asp-action="Edit" asp-controller="Documents" asp-route-id="@item.Iddocument">Editar</a>
                        <a class="btn btn-outline-primary" asp-action="Details" asp-controller="Documents" asp-route-id="@item.Iddocument">Ver</a>
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-controller="Documents" asp-route-id="@item.Iddocument">Borrar</a>
                    </div>
                </div>
            }
        }
    }
    @if(Model.Comments.Count() != 0){
        <br />
        <h4>Interacciones</h4>
        <div class="py-5">
            <div class="container">
                <div class="row hidden-md-up">
                    @foreach (var item in Model.Comments)
                    {
                        <div class="col-md-4">
                            <div class="card" style="width: 20rem;">
                              <div class="card-body">
                                <a class="btn btn-outline-success card-title" asp-action="Details" asp-controller="Documents" asp-route-id="@item.Iddocument">Ir al documento</a>
                                <p class="card-text">@item.Body</p>
                                <p class="card-text"><small class="text-muted">@item.Date</small></p>
                                <a class="btn btn-outline-danger" asp-controller="Documents" asp-action="DeleteComment" asp-route-id="@item.Idcomment">Borrar</a>
                              </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    }
    
</div>

<br />
<br />
<br />